* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.cuerpo_inicial{
    max-width: 100%;
 background-image: url(../img/fondo-comercioexterior\ \(2\)\ \(2\).png);
 height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 3rem;
    z-index: 0;
}

.cuerpo_segundo{
    background-image: url(../img/fondo-comercioexterior\ \(2\)\ \(2\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.titulo_inco{
    font-family: 'Playfair Display', serif;
    font-size: 1.7rem;
    font-weight: 600;
}

.texto_inco{
    font-family: 'Playfair Display', serif;
    font-size: 1.1rem;
    line-height: 1.6rem;
}
    
.barra {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color:  #040404b4;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0;
    padding-right: 5rem;
    padding-left: 5rem;
}

.navegacion__enlace {
    margin: 1.7rem;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
}

h1{
    text-align: center;
    font-family: "Playfair", serif;
    font-size: 4.7rem;
    font-weight: 700;
    letter-spacing: -2px;
    color: #ffffff;
    margin-top: 8rem;
}

.titulo_cabecera{
    text-align: center;
    font-family: "Poppins", serif;
    Font-size: 27px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 2rem;
}

.txt_cabecera{
    text-align: center;
    margin-top: 4rem;
    font-family: "Poppins", serif;
    line-height: 1.6em;
    color: #ffffff;
}

.btn1{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.btn_cabecera{
    display: flex;
    align-items: center;
    font-family: "Poppins", serif;
    background-color: #ffffff;
    color: #0021b7;
    text-decoration: none;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 5px 55px 1px rgba(43, 43, 43, 0.32);
    padding: 15px 40px 15px 40px;
    font-size: 15px;
    line-height: 1;
    opacity: 1;
transition: opacity 1s ease 0s;
}

.btn_cabecera:hover{
    opacity: 0.6;
    font-weight: 700;
    background-color: #ffe607;
}

.img_cabecera{
    margin-right: 0.5rem;
}

.banner_mn{
    width: 100%;
    height: 200px;
    margin-top: 5rem;
}

.banner_mn2{
    width: 100%;
    height: 200px;
}

.fondo_servicios{
    background-image: url(../img/4295.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.tit1{
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 2rem;
    color: #000866;
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    line-height: 1.3em;
    font-weight: 200;
}

.card{
    width: 50%;
    text-align: initial;
    
}

.tit{
    text-align: center;
    color: #000866;
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    line-height: 1.3em;
    font-weight: 200;
    padding-bottom: 2rem;
}

.tit2{
    
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: #242222;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6em;
}

.tit4{
    color: #242222;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6em;
    text-align: initial;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 2rem;
}

.tit5{
    color: #242222;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6em;
    text-align: initial;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}

.glass{
    width: 80%;
    border: 0.5px solid transparent;
    border-radius: 30px;
    background-color: #ffffffcb;
}

.glass2{
    width: 80%;
    border: 0.5px solid transparent;
    border-radius: 30px;
    background-color: #ffffffcb;
    margin-top: 1rem;
    padding-top: 3rem;
}

section{
    display: flex;
    justify-content: center;
    column-gap: 50px;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-bottom: 5rem;
}

.imagen__1200{
    width: 30rem;
}

.nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
    background-color: #fcfcfc;
}

.titulo_nosotros{
    text-align: center;
    margin-left: 7rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 1.3em;
    color: #000866;
    font-weight: 200;
}

.imagencuriosidades{
    width: 42.2rem;
    height: 30rem;
}

.imagenacerq{
    width: 42.2rem;
}

.txt_nosotros1, .txt_nosotros2{
    text-align: center;
    line-height: 1.5rem;
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    color: #3d3c5b;
}

.txt_nosotros1{
    margin-left: 7rem;
}

.txt_nosotros2{
    margin-right: 9rem;
    margin-left: 3rem;
}

.incoterms2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 1rem;
    margin-top: 4rem;
}

.imagen_incoterms{
    width: 35rem;
    height: 20rem;
}

.incoterms{
    margin-top: 4rem;
}

.titulo_incoterms{
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 5rem;
    font-family: 'Playfair Display', serif;
    line-height: 1em;
    color: #403d3e;
    font-weight: 100;
    font-size: 2.4rem;
}

.incoterms1{
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Playfair Display', serif;
    line-height: 1em;
    color: #403d3e;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 2rem;
    }

.tamano{
    font-size: 1rem;
    }
.contenedores{
    background-image: url(../img/expotaciones-fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

.titulo_contenedores{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 1.3em;
    color: #000866;
    font-weight: 200;
    margin-top: 4rem;
    padding-top: 4rem;
    margin-bottom: 4rem;
}

.texto_contenedores{
    text-align: center;
    line-height: 1.8rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #000000;   
}

.card_contenedores{
    width: 100%;
    background-color: #ffffff;
    margin-top: 4rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card_contenedores1{
    width: 100%;
    background-color: #ffffff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.imagen1_contenedores{
    width: 80px;
    height: 50px;
}

.contenido_card_contenedores{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    column-gap: 8rem;
}

.titulo_cuadro_contenedores{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 100;
    color: #403d3e;
    margin-top: 2rem;
}

.titulo_cuadro_contenedores_2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 1.2rem;
    margin-top: 2rem;
}

.parrafos_cuadro_contenedores{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
}

table{
    width: 300px;
    margin: 25px auto;
    border-collapse: collapse;
}

th, tr{
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}

th{
    background-color:  #d0cccc;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.celdas2{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.estilo_pie_inicio{
    background-image: url(../img/fondo-comercioexterior.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 2rem;
    padding-top: 3rem;
}

.titulo_pie{
    text-align: center;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 100;
    padding-top: 3rem;
}
.estilo_pie{
    display: flex;
    justify-content: space-evenly;
}

.estilo_titulo_pie{
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 100;
    text-align: center;
    margin-top: 3rem;
}

.estilo_pie_info{
    display: flex;
    justify-content: initial;
    align-items: center;
    color: #ffffff;
    column-gap: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 2rem;
}

.estilo_redes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    column-gap: 0.3rem;
}

.estilo_formulario{
    width: 400px;
    padding: 4rem;
    background-color: #ffffffa8;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 2rem;
    text-align: inherit;
    border-radius: 10px;
}

input{
    padding: 10px;
    margin-bottom: 1rem;
    width: 17rem;
}

textarea{
    width: 17rem;
}

button{
    width: 6rem;
    font-family: 'Poppins', sans-serif;
    padding: 12px;
    margin-top: 2rem;
}

.estilo_mapa1{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.estilo_copy{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #403d3e;
    color: #fcfcfc;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.estilo_mail{
    text-decoration: none;
    color: #ffffff;
}

.estilo_icono_logist{
    width: 140px;
    height: 120px;
    border-radius: 50%;
    margin-top: 1rem;
}

.estilo_icono_logist1{
    width: 190px;
     height: 130px;
    border-radius: 50%;
    margin-top: 1rem;
}

.estilo_iconos_logistica{
    display:flex;
    justify-content: center;
    text-align: center;
    margin: 2rem;
}

.estilo_iconos_logistica2{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.estilo_parrafo_logistica{
    text-align: initial;
}

.margen_icono_logistica{
    margin-top: 3rem;
}

.margen_icono_logistica2{
    margin-left: 1.5rem;
}